body {
  background-color: white;
  font-family: Lato,Helvetica,Arial,sans-serif;
}

#sales-tbl {
  position:static;
  width: 50%;
  background-color: #ffbc37;
  margin-left: 2%;
  padding: 1px;
}

table, thead, tbody, tfoot, tr, td {
  border: 1px solid black;
  text-align: center;
  padding: 3px;
}

header {
  background-color: #00a4a4;
  text-align: center;
  font-size: 2em;
  width: auto;
  font-family: 'Courgette', cursive;
  color: white;
}

#newStoreCreator {
  -color: black;
  border-width: 3px;
  padding: 10px;
  margin-right: 50%;
  float:right;
  width: 30%;
  max-width: 191px;
}

#fishies {
  padding: 10px;
  margin-left: 5%;
}

#submit {
  background-color: color #f2bd1f;
}

footer {
}
